# SPDX-License-Identifier: GPL-3.0-or-later

[D-BUS Service]
Name=me.kavishdevar.linuxpods
Exec=/usr/bin/linuxpods-daemon
SystemdService=linuxpods-daemon.service
