# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Version=1.0
Type=Application
Name=LibrePods
Comment=AirPods liberated from Apple's ecosystem
Exec=librepods
Icon=librepods
Terminal=false
Categories=AudioVideo;Utility;Qt;
